body{
  background: linear-gradient(to right, #0062E6, #33AEFF);
}

.row{
width: 80%;
margin:0 auto;
}
.price{
  font-size: 3rem;
  margin:0;
}
.App {
  text-align: center;
}

.pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgb(0 0 0 / 10%);
}

.card:hover{
  transform: translateY(-3px);
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}
.pricing ul li {
  margin-bottom: 1rem;
}

.btn{
  margin-top: 10px;
  border-radius: 20px;
  transition: all 0.2s;
  
}

.btn:hover{
    transform: translateY(-3px);
}